/*div {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display:-webkit-box;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display:none
}*/
body {
    height: 2000px;
    
}
.block {
    display: block;
}
.box {
    display: inline-flex;
    border: 1px solid black;
}
.box1 {
    opacity: 0.5 ;
}
.withScroll {
    border: 1px solid black;
    width: 300px;
    height: 100px;
    /*overflow: scroll; overflow: auto*/
    overflow-x: scroll;
}
.picture {
    border: 1px solid black;
    width: 500px;
    height: 2000px;
    background-image: url(./images.png);
    background-repeat: no-repeat;
    background-position: 50px 100px;
    /*background-attachment: fixed; sroll*/
    background-size: contain; /*cover*/
}
/*.parent {
    width: 500px;
    height: 500px;
    background:crimson;
    left: 50px;
    
}*/
.child {
    width: 50px;
    height: 50px;
    background:rgb(135, 240, 38);
    left: 500px;
    position: relative;
    z-index: 10;
    opacity: 0.5;
    top: 50px;
}
.child2 {
    width: 50px;
    height: 50px;
    background:rgb(206, 38, 240);
    /*right: 0;*/
    position: absolute; /*relative*/
    /*bottom: 0;*/
}
.fixedBox {
    height:20px ;
    width:20px ;
    background: red;
    position: fixed;
}
 .scroll {
    width: 500px;
    height: 500px;
    overflow: scroll;
   
 }
 .sticky {
    width: 50px;
    height: 50px;  
    background:crimson;
    position: sticky;
 }
